numpy==1.26.4
scipy==1.15.3
scikit-learn==1.7.2
pandas==2.3.3
tqdm==4.67.3
packaging==26.0
filelock==3.25.2
PyYAML==6.0.3
requests==2.32.5
regex==2025.11.3
huggingface_hub==0.36.2
tokenizers==0.22.2
safetensors==0.5.3
accelerate==1.11.0
transformers==4.57.6
autoawq==0.2.9
